<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Airbnb</title>
  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="style.css" />
  <script>
    var data = JSON.parse({{ data|tojson }});
  </script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- <script defer src="{{ url_for('static', filename='js/zoomTree.js') }}"></script> -->
  <style>
.jumbotron{
    background: url('../Resources/Images/NYC-night.jpg');
}
.col-sm-4{
    color: black;
}
.card{
    padding: 5px 5px 5px 5px;
}
  </style>
</head>

<body>

      <!-- navbar  -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">Airbnb NYC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="Vis1.html">Visualization #1 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Vis2.html">Visualization #2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Vis3.html">Visualization #3</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- jumbotron -->
      <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 btn-holder">
            <img src="../Resources/Images/airbnb_logo.jpg" alt="airbnb_logo" class="img-fluid">
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-bdoy">
                <h1 class="display-4">NYC Airbnb</h1>
                <p class="lead">Project Description #1</p>
                <p>Project description #2</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>


</body>

</html>
