<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Airbnb</title>
  <!-- bootstrap  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style.css" />

  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <script>
    var dataZT = JSON.parse({{ data|tojson }});
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <script defer src="{{ url_for('static', filename='js/zoomTree.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <style>
    body {
      background-color:rgb(185, 185, 185);
    }
   

  </style>

</head>
<body>
    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Airbnb NYC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="map_viz.html">Visualization #1 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Vis2.html">Visualization #2</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="Vis3.html">Visualization #3 <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- button -->
      <div class="panel-body">
        <form class="a" style="margin-left:20px;">
          <div class="form-group">
            <ul class="list-group" id="filters">
              <li class="filter list-group-item" style="border-color: black; margin-top:10px; margin-right:15px;" id="budget">
                <label for="date">Enter max budget per night: $</label>
                <input class="form-control" id="input-price" type="text" placeholder="e.g. 125">
              </li>
            </ul>
          </div>
          <button id="filter-btn" type="button" class="btn btn-default" style="border-color: black; background-color: white;">Filter Table</button>
        </form>
      </div>

      <!-- jumbotron -->
      <div class="jumbotron text-center">
        <div class="container">
          <div class="row" id="tool-tip-box">
              <div class="col-sm-12 btn-holder"></div>
              <div id="chart"></div>
          </div>
        </div>
      </div>

    <!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">Airbnb NYC. <i>Your ideal stay in New York. <hr></i></p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6></h6>
            <ul class="footer-links">
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/">About Us</a></li>
              <li><a href="map_viz.html">Visualization #1</a></li>
              <li><a href="Vis2.html">Visualization #2</a></li>
              <li><a href="Vis3.html">Visualization #3</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Cantankerous Canines</p>
          </div>
        </div>
      </div>
    </footer>

    
    
</body>
</html>