
#index_page{
    background: url('https://wallpapercave.com/wp/Jg14FgM.jpg');
}

.col-sm-4{
    color: black;
}
.card{
    padding: 5px 5px 5px 5px;
    opacity: 1;
}
.site-footer{
    background-color: rgb(56, 55, 55);
    margin-top: -32px;
    padding-top: 10px;
    color: whitesmoke;
}
.copyright-text{
    text-align: center;
}
.node {
    cursor: pointer;
  }
.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
  }
.node--leaf {
    fill: white;
  }
.label{
    font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
.label--leaf{
    font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  }
.label,
.node--root {
    pointer-events: none
  }
.node--leaf {
    pointer-events: visibleFill
  }
.detail-tip {
    display: block;
    position: absolute;
    padding: 2px;
    font: 12px sans-serif;
    text-align: center;
    background: purple;
    border: 0;
    border-radius: 10px;
  }







